__pycache__/
*.py[cod]
*$py.class
*.log
*.pot
*.pyc
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
static/
*/migrations/*
!*/migrations/__init__.py
venv/
ENV/
env/
.venv/
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
*.env
*.env.*
.env.local
.env.production
.env.development
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
build/
dist/
.eggs/
*.egg-info/
.installed.cfg
MANIFEST
